:host {
  position: absolute;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 0 8px;

  &.overlapped {
    background-color: #ccf;
  }

  &.selected {
    background-color: #cccccc;
  }

  &.dragging {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
}
