@use 'src/variables.scss' as *;

:host {
  position: absolute;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid $ptc-black;
  padding: 0 8px;
  cursor: grabbing;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

  &.overlapped {
    background-color: $ptc-very-light-blue;
  }

  &.selected {
    background-color: $ptc-light-grey;
  }

  &.highlight {
    background-color: $ptc-green;
  }

  &.dragging {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
}
