$ptc-white: #fff;

$ptc-light-grey: #dcdcdc;
$ptc-disabled-gray: #a3aabc;
$ptc-dark-blueish-grey: #818a91;

$ptc-ice-blue: #E9ECF5;
$ptc-very-light-blue: #77a5e74f;
$ptc-light-blue: #77a5e7;
$ptc-blue: #001dff;
$ptc-very-dark-blue: #001299;

$ptc-ice-red: #F5ECE9;
$ptc-medium-red: #e83e3e;
$ptc-bug-red: #dc3545;
